<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <img src="./images/Screenshot 2022-03-12 110814.png" alt="">
      </div>
      <div class="form">
          <form action="/login" method="POST">
              <input type="text" name="userId" placeholder="Phone number,username or email">
              <input type="password" name="password" id="" placeholder="password">
              <button type="submit">Log In</button>
          </form>
          <div class="or">
              <span></span>
              <h4>OR</h4>
              <span></span>
          </div>
          <div class="facebook">
              <i class="fa-brands fa-facebook-square"></i>
              <span>Login with Facebook</span>
          </div>
          <a href="">Forgot password</a>
      </div>
      <div class="signup">
          <span>Dont' have an account?</span>
          <a href="">Sign up</a>
      </div>
      <div class="get-app">
          <span>Get the app</span>
          <div class="image">
              <img src="" alt="">
              <img src="" alt="">
          </div>
      </div>
      <div class="footer">

      </div>
    </div>
  </body>
</html>
